.una_basic .una_adv {
    margin: 0 0 0 32px;
}
.una_basic .una_header {
    display: inline-block;
    position: relative;
}
.una_basic .una_header::after {
    background-color: #c4cbe7;
    bottom: -12px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
.una_basic .una_timeline_box::before {
    border: 2px solid #c4cbe7;
    content: "";
    height: calc(100% + 30px);
    left: 28px;
    position: absolute;
    top: -20px;
}
.una_basic .una_timeline_box {
    position: relative;
}
.una_basic .una_date {
    border-top: 3px solid #c4cbe7;
    margin: 18px 0 -30px 30px;
    padding: 8px 0 0 24px;
}
.una_basic .una_item_timeline {
    margin: 30px 0;
    padding: 8px 0;
    z-index: 2;
}
.una_basic .una_author {
    border: 3px solid #c4cbe7;
    box-sizing: content-box;
}
