.una_adv {
    margin: 0 0 18px;
}
.una_adv a,
.una_adv img {
    display: flex;
}
.una_adv:empty {
    display: none;
}
.una_adv > a img:hover {
    filter: contrast(1.4);
    opacity: 0.9;
}
.una_data_not_found {
    background-color: #fce6db;
    padding: 12px;
    text-align: center;
}
.universe_userlist {
    font-size: 16px;
    line-height: normal;
    padding: 12px 6px;
    position: relative;
}
#una_filters {
    display: flex;
    margin: 6px 0 9px;
    flex-wrap: wrap;
}
#una_filters a {
    margin: 0 3px 3px 0;
    padding: 9px 12px;
}
.una_header {
    line-height: 1;
    margin: 0 0 12px;
}
.una_header span {
    padding: 0 3px 0 0;
}
#universe_visible:empty {
    opacity: 0;
    top: 0;
    z-index: -1;
}
#universe_visible {
    align-items: center;
    background-color: #cad9e7;
    color: #000;
    display: flex;
    height: 42px;
    justify-content: center;
    margin: 0 0 0 -12px;
    opacity: 1;
    position: fixed;
    top: 36px;
    transition: all 0.3s ease-in 0s;
    width: 150px;
    z-index: 11;
}
.una_date {
    border-top: 1px solid #e5e5e5;
    padding: 12px 0;
}
.una_item_timeline {
    align-items: center;
    display: flex;
    margin: 0 0 18px 6px;
    position: relative;
}
.una_item_timeline .una_author {
    background-color: #e5e5e5;
    height: 36px;
    min-width: 36px;
    overflow: hidden;
    width: 36px;
}
.una_author img {
    border: none;
    border-radius: 0;
    float: none;
    height: auto;
    max-width: 100%;
}
.una_item_timeline .una_right {
    display: flex;
    padding: 0 12px;
    width: calc(100% - 36px);
}
.una_time {
    align-self: center;
    color: #616161;
    font-size: 11px;
    padding: 0 12px 0 0;
}
.una_content {
    flex-grow: 1;
    overflow: hidden;
}
.una_avatar {
    display: block;
    margin: 6px 6px 6px 18px;
}
.universe_userlist .una_author_name {
    margin: 0 4px 0 0;
}
.universe_userlist .una_author_name:empty {
    display: none;
}
.universe_userlist .una_action {
    text-transform: lowercase;
}
.una_group_name,
.una_subject {
    text-transform: none;
}
#universe_time .una_post_status {
    color: #9e5353;
    font-size: 11px;
    margin: 0 0 0 6px;
}
#universe_time .una_post_status.una_st_spam {  /*spam comment*/
    color: #f05151;
}
#universe_time .una_post_status.una_st_0 {     /*pending comment*/
    color: #e19201;
}
.una_timeline_blk .rcl-pager {
    position: relative;
}
.una_goto_comments {
    font-size: 14px;
}
.una_goto_comments > a {
    align-items: center;
    display: flex;
}
.una_goto_comments > a:hover {
    text-decoration: none;
}
.una_goto_comments > a span:hover {
    text-decoration: underline;
}
.una_goto_comments .rcli {
    margin: 0 0 0 6px;
}
.una_user_status > div {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    display: inline-block;
    margin: 6px 18px;
    padding: 6px 12px;
}
#universe_time .una_rating_plus {
    color: #3bb525;
}
#universe_time .una_rating_minus {
    color: #f05151;
}
.una_admin_dashboard #universe_visible {
    margin-left: -18px;
    top: 32px;
}
.una_admin_dashboard .una_item_timeline {
    overflow: hidden;
}
.una_admin_dashboard .una_header {
    float: right;
    font-size: 14px;
    margin: -20px 0 0;
}
/* una comment */
.unac_comm_content {
    border-left: 3px solid #ff8f8f;
    margin: 12px 6px 18px 12px;
    padding: 6px 12px;
}
.unac_comm_content > p:first-child {
    margin-top: 0;
    padding-top: 0;
}
.unac_comm_content > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}